@import 'normalize.css';
@import 'layout.css';
@import 'fonts';

$text-color: #262626;
$secondary-text-color: #ffffff;
$footer-text-color: #b9b9b9;
$footer-secondary-text-color: #ff2b58;

$about-bg: #00B1B1;
$services-bg: #70BFFF;
$gallery-bg: #FFE92F;
$blog-bg: #B07CF7;
$contact-form-field: #00C4C4;
$footer-bg: #000000;
$blog-link-bg: #f72b3b;
$contact-form-field: #65D2D1;

a, button {
	-webkit-transition: all .2s ease-in;
	   -moz-transition: all .2s ease-in;
	    -ms-transition: all .2s ease-in;
	     -o-transition: all .2s ease-in;
	        transition: all .2s ease-in;
}

@mixin title-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
@mixin main-title-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
@mixin text-font {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
@mixin logo-font {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

body {
	@include text-font;
	color: $text-color;
	font-size: 17px;
	line-height: 1.6em;
}

.ba-banner {
	background: url(../images/img.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 289px;
}
.ba-header {
	padding: 50px 0 44px 0;
}
.ba-logo {
	@include logo-font;
	color: $text-color;
	text-decoration: none;
	font-size: 50px;
	line-height: 1em;
}
.ba-nav {
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 14px;
	}
	&__item {
		margin-left: 35px;
		&:hover{
			.ba-nav__link:before {
				background-color: #FF6033;
			}
		}
	}
	&__link {
		text-transform: uppercase;
		text-decoration: none;
		@include main-title-font;
		font-size: 16px;
		color: $text-color;
		position: relative;
		display: block;
		&:before {
			content: '';
			background-color: transparent;
			height: 3px;
			width: 100%;
			position: absolute;
			top: -5px;
			-webkit-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			transition: all .2s ease-in;
		}
		&--active:before {
			background-color: #FF6033;
		}
	}
}

.ba-fresh{
	&__title {
		@include title-font;
		font-size: 60px;
		line-height: 1;
		margin: 0;
		margin-top: 212px;
	}
	&__content {
		width: 34%;
		margin: 0;
		margin-top: 30px;
	}
	&__svg {
		height: 42px;
		width: 24px;
		&:hover {
			cursor: pointer;
		}
	}
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: $secondary-text-color;
		font-size: 20px;
		line-height: 1.35;
		background-color: #FF6033;
		padding: 15px 25px;
		display: inline-block;
		border: 1px solid transparent;
		margin-top: 25px;
		&:hover {
			background-color: transparent;
			color: #FF6033;
			border: 1px solid #FF6033;
		}
		&--scroll {
			position: absolute;
			top: 850px;
			left: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
			margin: auto;
		}
	}
}

.ba-about {
	background-color: $about-bg;
	&__image {
		margin-top: 71px;
	}
	&__container {
		margin: 187px 0;
	}
	&__title {
		margin-left: 13%;
		color: $secondary-text-color;
		@include main-title-font;
		text-transform: capitalize;
		font-size: 90px;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 30px;
	}
	&__content {
		margin-left: 13%;
		color: $secondary-text-color;
		margin-top: 17px;
		margin-bottom: 0;
	}
}

.ba-services {
	background-color: $services-bg;
	padding-top: 100px;
	padding-bottom: 130px;
	&__container {
		padding-top: 60px;
	}
	&__link {
		text-decoration: none;
		text-transform: capitalize;
		background-color: #FFF;
		display: block;
		margin: 20px 0;
		position: relative;
		height: 100px;
		font-size: 20px;
		line-height: 1.35;
		vertical-align: middle;
		text-align: center;
		@include main-title-font;
		color: $text-color;
		&:hover {
			background-color: darken(#fff, 50%);
		}
	}
	&__icon {
		width: 54px;
		height: 54px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		right: 26px;
		
	}
	&__link-text {
		display: inline-block;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		width: 77%;
		display: block;
		}
	&__wrapper {
		position: relative;
		width: 50%;
	}
	&__title {
		position: absolute;
		top: 50%;
		right: 0;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		@include main-title-font;
		font-size: 90px;
		text-transform: capitalize;
		margin: 0;
		color: $secondary-text-color;
	}
}

.ba-gallery {
	position: relative;
	background-color: $gallery-bg;
	padding-top: 90px;
	padding-bottom: 225px;
	&__title {
		@include main-title-font;
		font-size: 90px;
		line-height: 1;
		text-align: center;
		margin: 0;
		margin-bottom: 25px;
	}
	&__content {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
	}
	&__image {
		display: block;
	}
	&__link {
		height: 53px;
		width: 200px;
		text-align: center;
		padding-top: 17px;
		background-color: #5585A2;
		border: 1px solid #5585A2;
		text-decoration: none;
		text-transform: uppercase;
		position: absolute;
		bottom: 120px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
		line-height: 1;
		color: $secondary-text-color;
		font-size: 20px;
		&:hover {
			color: #5585A2;
			background-color: $secondary-text-color;
		}
	}
	&__container {
		position: relative;
		
		&:hover {
			cursor: pointer;
			.ba-gallery__wrapper {
				opacity: 1;
			}
		}
	}
	&__wrapper {
		position: absolute;
		background-color: rgba(0, 0, 0, .6);
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0 15px;
		opacity: 0;
		-webkit-transition: all .25s ease-in;
		   -moz-transition: all .25s ease-in;
		    -ms-transition: all .25s ease-in;
		     -o-transition: all .25s ease-in;
		        transition: all .25s ease-in;
	}
	&__wrapp {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
		text-align: center;
		width: 100%;
	}
	&__description-title {
		color: $secondary-text-color;
		text-transform: uppercase;
	}
	&__description {
		color: $secondary-text-color;
	}
}
.ba-gallery__container:nth-child(3) {
	margin-top: 30px;
}

.ba-subscribe {
	background: url(../images/subscribe-bg.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	&__title {
		@include main-title-font;
		font-size: 40px;
		text-transform: capitalize;
		line-height: 1;
		margin: 0;
		padding-top: 145px;
	}
	&__content {
		width: 50%;
		margin-top: 20px;
	}
}
.ba-sub-form {
	padding-bottom: 164px;
	.ba-sub-form__field {
		border: 1px solid #262626;
		outline: none;
		padding: 18px 0 18px 15px;
		margin-right: 30px;
		width: 48.7%;
		&[placeholder] {
			@include text-font;
			font-size: 15px;
		}
	}
	&__button {
		width: 14.5%;
		font-size: 20px;
		line-height: 1;
		padding: 16.5px 0 16.5px;
		border: 1px solid #96b92c;
		outline: none;
		text-transform: uppercase;
		color: $secondary-text-color;
		background-color: #96b92c;
		&:hover {
			background-color: #fff;
			color: #96B92C;
			cursor: pointer;
		}
	}
}

.ba-blog {
	background-color: #B07CF7;
	color: $secondary-text-color;
	padding-top: 93px;
	padding-bottom: 120px;
	&__title {
		@include main-title-font;
		font-size: 90px;
		line-height: 1;
		margin: 0;
		text-align: center;
	}
	&__content {
		line-height: 1.5;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		margin-top: 26px;
		margin-bottom: 45px;
	}
	&__image {
		display: block;
	}
	&__item {
		position: relative;
			&:hover {
				-webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
				        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
				cursor: pointer;
			}
	}
	&__container {
		position: absolute;
		top: 30px;
		left: 35px;
	}
	&__wrapper {
		width: 60px;
		height: 60px;
		background-color: rgba(0, 0, 0, .5);
		text-align: center;
		margin-left: 10px;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	}
	&__publish {
		@include title-font;
		font-size: 21px;
		line-height: 1.2;
		display: block;
	}
	&__date {
		@include main-title-font;
		font-size: 32px;
		line-height: 1;
		display: block;
	}
	&__name {
		margin-top: 115px;
		margin-bottom: 18px;
		text-transform: capitalize;
		@include main-title-font;
		font-size: 20px;
		line-height: 1.25;
		width: 97%;
	}
	&__author,
	&__last-redact {
		font-size: 13px;
	}
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		@include text-font;
		background-color: $blog-link-bg;
		border: 1px solid $blog-link-bg;
		display: block;
		margin: 0 auto;
		width: 200px;
		text-align: center;
		padding: 13px 0 13px;
		color: $secondary-text-color;
		font-size: 20px;
		margin-top: 50px;
		&:hover {
			background-color: $secondary-text-color;
			color: $blog-link-bg;
		}
	}
}

.ba-contact {
	background: url(../images/contact-bg.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding-top: 73px;
	padding-bottom: 115px;
	&__title {
		@include main-title-font;
		font-size: 90px;
		text-align: center;
		line-height: 1;
		margin: 0;
	}
	&__content {
		width: 33%;
		margin: 0 auto;
		text-align: center;
		margin-top: 31px;
	}
	&__form {
		float: left;
		width: 42.73%;
		margin-top: 27px;
	}
	&__field {
		width: 100%;
		margin-top: 15px;
		color: #fff;
		border: none;
		background-color: $contact-form-field;
		border-left: 5px solid $contact-form-field;
		-webkit-transition: all .2s ease-in;
		   -moz-transition: all .2s ease-in;
		    -ms-transition: all .2s ease-in;
		     -o-transition: all .2s ease-in;
		        transition: all .2s ease-in;
		&:hover {
			border-left: 5px solid #355b82;
			background-color: #00C4C4;
		}
		&:focus {
			border-left: 5px solid #355b82;
			background-color: #00C4C4;
		}
		&::-webkit-input-placeholder {
			color: $secondary-text-color;
		}
		&--large {
			resize: none;
			height: 250px;
		}
		&[placeholder] {
			@include text-font;
			font-size: 15px;
			
			outline: none;
			padding-top: 18px;
			padding-bottom: 18px;
			padding-left: 20px;
			
		}
	}
	&__info {
		margin-top: 20px;
		margin-left: 170px;
	}
	&__info-title {
		text-transform: uppercase;
		@include main-title-font;
		font-size: 17px;
		line-height: 1.5;
		margin: 0;
		margin-top: 15px;
	}
	&__info-content {
		@include text-font;
		font-size: 20px;
		line-height: 1.25;
		margin: 0;
	}
}

.ba-footer {
	background-color: $footer-bg;
	color: $footer-text-color;
	padding-top: 18px;
	padding-bottom: 16px;
	&__copyright {
		@include text-font;
		font-size: 16px;
		line-height: 1.5;
	}
	&__logo {
		@include logo-font;
		font-size: 25px;
		line-height: 1;
		color: $footer-text-color;
		text-decoration: none;
		margin-top: 12px;
		&:hover {
			color: darken($footer-text-color, 35%);
		}
	}
	&__author {
		@include text-font;
		font-size: 15px;
		line-height: 1.6;
	}
	&__key-word {
		@include main-title-font;
		color: $footer-secondary-text-color;

	}
}